@use '@/app/styles/mixins/mixin.scss' as *;

.container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	outline: none;
}

.clearButton {
	position: absolute;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	padding: 0;
	color: var(--color-gray-500);
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.15s;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
}

.clearButton:focus-visible {
	@include focus-visible;
}

.container.alwaysShowClear .clearButton {
	opacity: 1;
	pointer-events: auto;
}

.container:has(input:focus-visible) .clearButton,
.container:has(input:not(:placeholder-shown)) .clearButton {
	opacity: 1;
	pointer-events: auto;
}

.searchIcon {
	position: absolute;
	left: 12px;
	color: var(--color-gray-500);
	pointer-events: none;
	z-index: 1;
}

.input {
	width: 100%;
	padding: 10px 30px 10px 35px;
	border: 1px solid var(--color-gray-50);
	border-radius: 8px;
	font-size: 14px;
	outline: none;
	transition: border-color 0.2s ease;
	background: var(--color-white);
	appearance: none;

	&::placeholder {
		color: var(--color-gray-500);
	}

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		appearance: none;
		display: none;
	}

	&::-ms-clear,
	&::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}
}

.closeIcon {
	width: 14px;
	height: 14px;
	color: var(--color-violet-500);
}
