.messageFormComponent {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px;
	width: 100%;
	padding: 12px 16px;
	background-color: var(--color-violet-40);
	border-top: 0.33px solid var(--color-gray-50);
}
