.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	padding: 0;
	background: none;
	border: none;
	outline: inherit;
	color: var(--color-primary);
}

.picker {
	position: absolute !important;
	bottom: 20px;
	right: 10%;

	// transform: translateX(-50%);
}
