.placeholder {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #111827;
}

.title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 6px;
}

.sub {
	font-size: 14px;
	color: #6b7280;
}
