.form {
	margin: 0 auto;
}

.selectContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.birthday {
	margin-bottom: 4px;
	color: var(--foreground-secondary);
	font-family: inherit;
	font-weight: inherit;
	font-size: var(--font-size-14);
	line-height: 120%;
	letter-spacing: 1%;
	vertical-align: middle;
	background-color: transparent;
}

.birthdayError {
	color: var(--color-red);
}

.selectDay,
.selectMonth,
.selectYear {
	position: relative;
	height: 56px;
	justify-content: space-between;
	padding: 12px 4px 12px 2px;
	color: var(--color-black);
	font-family: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0.4px;
	border-radius: 8px;
	border: solid 1px var(--settings-border-color);
	border-width: 1px;
	z-index: 1;
	outline: none;
	box-shadow: none;

	@media screen and (max-width: 768px) {
		font-size: 15px;
		padding: 6px 0;
	}
}

.selectDay {
	width: 80px;

	@media screen and (max-width: 768px) {
		width: 67px;
	}
}

.selectMonth {
	width: 133px;

	@media screen and (max-width: 768px) {
		min-width: 120px;
		max-width: 137px;
	}
}

.selectYear {
	width: 107px;

	@media screen and (max-width: 768px) {
		width: fit-content;
	}
}

.selectDay:hover,
.selectMonth:hover,
.selectYear:hover {
	border-color: var(--color-primary);
}

.selectDay:focus,
.selectMonth:focus,
.selectYear:focus {
	border-color: transparent;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	outline: 2px solid var(--color-primary);
}

.selectMenu {
	font-size: 18px;

	@media screen and (max-width: 768px) {
		font-size: 15px;
	}
}
